.Button{
    background: #00000000 !important;
    color: #5E5A73;
    border: none;
    fill: #D6DBFF !important;
}

.Button:hover{
    color: #D6DBFF !important;
    background: #5E5A73 !important;
    
}
.ButtonIcon{
    background-color: #D6DBFF;
    color: #5E5A73 !important;
    border: none;
}
.ButtonIcon:hover{
    background-color: #D6DBFF !important;
    color: #D6DBFF !important;
    border: none;
}
.img{
    width: 95%;
    height: 230px;
}
.card{
    border: 1px solid #5E5A73 !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #5E5A73;
    height: auto;
}
.linea{
    border: 1px solid #5E5A73 !important;
    width: 90%;
}

/* DETALLES  */
.ButtonCart{
    background: #5E5A73 !important;
    color: #D6DBFF !important;
    border: none;
} 

 .ButtonCart:hover{
    color: #5E5A73 !important;
    background: #D6DBFF !important;
}
.ButtonFav{
    background: #5e5a7300;
    color: #5E5A73;
    border: none;
    margin-top: 1em;
}
.ButtonFav:hover{
    background: #ffffff00 !important;
    color: #5E5A73;
    border: none;
    text-decoration:underline;
}

.titleModal{
    text-align: center !important;
}

.imgModal{
    height: 350px;
    width: 100%;
}

.modalText{
    color: #5E5A73;
}

@media (min-width: 1200px) {
.img{
    height: 320px;
}
  }