.Button{
    background: #00000000 !important;
    color: #5E5A73;
    border: none;
}

.Button:hover{
    color: #D6DBFF;
    background: #5E5A73 !important;
}

.img{
    height: 180px;
    height: 180px;
}
.card{
    border: 1px solid #5E5A73 !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #5E5A73;
    height: auto;
}
.linea{
    border: 1px solid #5E5A73 !important;
    width: 90%;
}
.ButtonCart{
    background: #5E5A73;
    color: #D6DBFF;
    border: none;
}

.ButtonCart:hover{
    color: #5E5A73;
    background: #D6DBFF !important;
}
.ButtonFav{
    background: #5e5a7300;
    color: #5E5A73;
    border: none;
    margin-top: 1em;
}
.ButtonFav:hover{
    background: #ffffff00 !important;
    color: #5E5A73;
    border: none;
    text-decoration:underline;
}

.titleModal{
    text-align: center !important;
}

.imgModal{
    height: 350px;
    width: 100%;
}

.modalText{
    color: #5E5A73;
}