/*VARIABLES - COLORES PRINCIPALES*/
:root {
  /* color de texto */
  --color-texto: #5E5A73;

  /*color fondo navbar , info , publicidad, footer (links)*/
  --color-fondo:#D6DBFF;

  /*Fondo footer copyright*/
  --color-footer:#BDC4FF;
}

.bg-header{
  background-color: var(--color-fondo);
}

.envio-pais {
  display: inline-block;
  margin: 0 0.5rem;

  animation:fadeInLeft infinite; 
  animation-duration: 3s;
}