*{
    font-family: helvetica;
}
.search{
    height: 7vh;
    width: 80%;
}

.button{
    background-color: #5E5A73;
    color: #D6DBFF;
    border: thin solid #5E5A73;
}

.button:hover{
    background-color: #D6DBFF !important;
    color: #5E5A73;
    border: thin solid #5E5A73;
}