
@media (max-width: 992px) {
  .destacado{
    width:50%;
    position: absolute;
    top: 30%;
    right: 25%;
    z-index: 1;
} 
}


@media (min-width: 992px) { 
  .destacado{
    width:20%;
    position: absolute;
    top: 5%;
    right: 13%;
    z-index: 1;
  }
}


/* @media (min-width: 1400px) { ... } */